


###########################################################################################
# Includes/Excludes Glob patterns - Please use only one exclude line and one include line #
###########################################################################################
#includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx

#Exclude file extensions or specific directories by adding **/*.<extension> or **/<excluded_dir>/**
#excludes=**/*requirements.txt **/st/** **/auth-utils/** **/third_party/motr/** **/third_party/jsoncpp/** **/ut/** **/ut_death_tests/** **/s3backgrounddelete/ut/** **/s3cortxutils/s3confstore/ut/** **/scripts/compatibility-test/** **/docs/swagger/**

case.sensitive.glob=false
followSymbolicLinks=true

#archiveExtractionDepth=2
#archiveIncludes=**/*war **/*jar **/*ear **/*zip **/*whl **/*tar.gz **/*tgz **/*tar **/*car
#archiveExcludes=**/*sources.jar **/*javadoc.jar /tests/

projectPerFolder=true
projectPerFolder=**/auth/**
maven.runPreStep=true
maven.resolveDependencies=true
#maven.aggregateModules=false
#maven.ignorePomModules=false



# Linux package manager settings
################################
scanPackageManager=false
